/* ==========================================================================
   General
   ========================================================================== */
@font-face {
    font-family: 'ProximaNovaRegular';
    src: url('../fonts/ProximaNova-Reg-webfont.eot');
    src: url('../fonts/ProximaNova-Reg-webfont.eot?iefix') format('eot'),
         url('../fonts/ProximaNova-Reg-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Reg-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Reg-webfont.svg#webfonttLdMzI8n') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaBold';
    src: url('../fonts/ProximaNova-Bold-webfont.eot');
    src: url('../fonts/ProximaNova-Bold-webfont.eot?iefix') format('eot'),
         url('../fonts/ProximaNova-Bold-webfont.woff') format('woff'),
         url('../fonts/ProximaNova-Bold-webfont.ttf') format('truetype'),
         url('../fonts/ProximaNova-Bold-webfont.svg#webfontgrewrCss') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* ==========================================================================
   Layout
   ========================================================================== */
body {
   margin:0;
   font-family: "ProximaNovaRegular","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
   background: #ffffff;
   color:#000;
   font-size:14px;
   font-weight:normal;
}
.contentBody {
    padding:0;
}
a {
    color:#DF0A1F ;
}
a:hover, a:focus {
    color: #DF0A1F;
    text-decoration: none;
}
.label {
    background:transparent;
    color:#000;
    font-size:11px;
    text-shadow:none;
    padding:0;
    margin-right:5px;
}
.right {
    float:right;
}
:focus {
    outline: -webkit-focus-ring-color auto 0;
}

/* ==========================================================================
   Inputs and Buttons
   ========================================================================== */
input[type="button"], 
input[type="submit"], 
body button.btn, 
body button.btn-primary, 
button, input[type="submit"], 
.invoiceContainer .actionButtonsEnd a, 
.payFullLink,
a.pickWish {
    background:#DF0A1F;
    color:#FFF;
    border:1px solid #DF0A1F;
    font-size:14px;
    font-weight:bold;
    padding:8px 15px;
    margin-bottom:8px;
    text-shadow:none;
    border-radius:0;
    box-shadow: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.btn.slim {
    padding:5px;
}
input[type="button"]:hover, 
input[type="submit"]:hover, 
body button.btn:hover, 
body button.btn-primary:hover, 
input[type="button"]:focus, 
input[type="submit"]:focus, 
body button.btn:focus, 
body button.btn-primary:focus, 
input[type="button"]:active, 
input[type="submit"]:active, 
body button.btn:active, 
body button.btn-primary:active, 
.btn-primary:hover, 
.invoiceContainer .actionButtonsEnd a:hover, 
.payFullLink:hover,
a.pickWish:hover,
.widget_column_for_grid .widget_container ul > li:nth-child(4) .btn,
.widget_column_for_grid .widget_container ul > li:nth-child(4) .btn,
.dropdown-menu > li > a:hover,
input.button.disabled {
    background:#FFF;
    color:#DF0A1F;
    border:1px solid #DF0A1F;
}
#reformatGrid {
    background:#ccc;
    color:#000;
}
.product_detail .addItem {
}
input.plus_minus {
    padding:5px 8px;
    font-size:8px;
}
input[type="text"], 
.my_account_information input {
        padding: 8px 15px;
        margin-bottom:8px;
        border:1px solid #ccc;
}
input[type="text"].input_medium {
    margin: 0;
    padding: 8px 0 8px 5px;
    width: 100%;
    font-size: 11px;
}
input.entry.plus_minus {
    width: 40px;
    font-size: 14px;
    padding:8px;
    text-align: center;
    border: 1px solid #ccc;
}
input.entry.plus_minus:hover {
    background: rgb(238, 238, 238);
}
.btn-group > .btn:first-child {
    border-radius:0;
}
.btn-group > .btn + .dropdown-toggle {
    border-radius:0;
}
.btn-primary .caret, .caret {
    border-top: 4px solid #FFF ;
}
.btn-group > .btn + .dropdown-toggle:hover .caret {
    border-top: 4px solid #FFF;
}
.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 13px;
    padding: 10px;
}
input.newListName {
    padding:8px 15px;
    margin-bottom:8px;
}
.dropdown-menu > li > a.pickWish {
    color:#FFF;
    text-align:center;
}

/* ==========================================================================
   Header
   ========================================================================== */
.headerRow  .header {
   background:#DF0A1F;
}
.logo_tagline {
    position:absolute;  
    top:6px;
    left:20px; 
}
.logo_tagline .logo img {
    height:80px;
}


/* ==========================================================================
   Top Navigation
   ========================================================================== */
.navbar {
    margin:0;
}
.top_navigation {
   text-align: right;
   padding:0px 25px;
   color: #000;
   background: #f1eee9;
}
.top_navigation p {
   display:inline-block;
}
.top_navigation a {
   color:#000;
}
.top_navigation #logoUrl {
    float:left;
    padding:20px 0;
}
.top_navigation #logoUrl img {
    max-height:40px;
}
.top_navigation #goToAccount:before,
.top_navigation #cartHeader:before,
.top_navigation .search_button,
input#doSearch {
  content: " ";
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("../images/glyphicons-halflings.png");
  background-repeat: no-repeat;
  margin-top: 1px;
}
.top_navigation .search_button,
input#doSearch {
    background-image: url("../images/glyphicons-halflings.png");
}
.top_navigation #goToAccount:before {
  background-position: -168px 0;
}
.top_navigation #cartHeader:before {
  background-position: -360px -120px;    
}
.top_navigation .cartHeadTot {
    color:#FFF;
    background: #DF0A1F;
    padding:5px 2px 5px 5px;
    border-radius:15px;
    margin-right:5px;
}
.top_navigation .search_form {
   display:inline-block;
   float:right;
   padding:10px 0;
   margin-left:10px;
}
.top_navigation .search_form input {
    border:#808080;
    border-radius:5px;
    padding:4px 8px;
}
.top_navigation .search_button,
input#doSearch {
    background-position: -48px 0;
    background-color:transparent;
    color:transparent;
    margin-left:-22px;
    margin-top:-1px;
}
.phone_header {
   float:left;
   width:100%;
   background:#FFF;
}
.products_phone {
   width:29%;
   float:left;
   margin:0;
   padding:0 0 10px 0;
   text-align:left;
}
.account_sign_in_products {
    width:32%;
   float:left;
   margin:0;
   padding:0 0 10px 0;
   text-align:right;;
}
.cart_products {
    width:39%;
   float:right;
   margin:0;
   padding:0 0 10px 0;
   text-align:right;
}
.products_phone p,
.account_sign_in_products p,
.cart_products p {
   font-size:13px;
   margin:12px 0 0 0;
   padding:0;
}
.products_phone a:link {
   color:#000;
   margin:0 0 0 10px;
   padding:0 0 0 20px;
   background:url(../images/products_phone.png) left top no-repeat;
}
.account_sign_in_products a:link {
   color:#000;
   margin:0 0 0 10px;
   padding:0 0 0 20px;
   background:url(../images/account_sign_in.png) left top no-repeat;
}
.cart_products a:link {
   color:#000;
   margin:0 0 0 10px;
   padding:0 0 0 20px;
   background:url(../images/cart_phone.png) left top no-repeat;
}
.effAccount {
    color:#FFF;
    padding:5px;
    cursor:pointer;
}
.top_navigation .misc-function .modal-header {
    text-align:left;
    color:#000;
}
.top_navigation .misc-function .modal-body {
    text-align:left;
}
.top_navigation .misc-function .modal-body .header {
    background: #ccc;
}
.top_navigation .misc-function .modal-body .col {
    padding:8px;
    color:#4b4b4b;
}
.top_navigation .misc-function .modal-body .effacc-entry {
    border-bottom:1px solid #ccc;
}
.top_navigation .misc-function .modal-body .row {
    margin:0;
}
.top_navigation .misc-function .modal-body .pickAccount {
    background:#DF0A1F;
    color:#FFF;
    padding:8px;
    cursor:pointer;
    display:inline-block;
}
.navbar .btn-navbar .icon-bar {
    background: #DF0A1F;
}

/* ==========================================================================
   Menu
   ========================================================================== */
.menu_container .navbar-inner {
   background:#FFF;
   border:none;
   border-radius:0;
   min-height:44px;
   box-shadow:none;
}
.navbar .nav {
   float:right;
}
.navbar .nav > li > a {
    padding: 11px 15px 11px;
    color: #4B4B4D;
    font-size:16px;
    text-shadow: none;
    border-top:2px solid transparent;
    border-bottom:2px solid transparent;
}
.navbar .nav > li > a:focus, .navbar .nav > li > a:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: #000;
    font-weight:bold;
    text-decoration: none;
    background:#EBEBEB;
    border-bottom:2px solid #DF0A1F;
}
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #4b4b4b;
    border-bottom-color: #4b4b4b;
}
.navbar .nav li.dropdown > a:hover .caret, 
.navbar .nav li.dropdown > a:focus .caret {
    border-top-color: #4b4b4b;
    border-bottom-color: #4b4b4b;
}
.dropdown-menu {
    background:#FFF;
    border-radius:0;
    border:none;
    margin:0;
}
.dropdown-menu > li > a {
    color:#000;
    font-size:14px;
    padding:10px 15px;
    border: 1px solid #FFF;
}
.navbar .nav > li > .dropdown-menu:before,
.navbar .nav > li > .dropdown-menu:after {
    display:none;
}
.navbar .btn-navbar {
    background:transparent;
    border:none;
    box-shadow:none;
}
.navbar .btn-navbar:hover, 
.navbar .btn-navbar:focus, 
.navbar .btn-navbar:active, 
.navbar .btn-navbar.active, 
.navbar .btn-navbar.disabled, 
.navbar .btn-navbar[disabled] {
    color: #000;
    background-color: #FFF;
    border:none;
    box-shadow:none;
}
.navbar .btn-navbar:hover .icon-bar, 
.navbar .btn-navbar:focus .icon-bar, 
.navbar .btn-navbar:active .icon-bar, 
.navbar .btn-navbar.active .icon-bar, 
.navbar .btn-navbar.disabled .icon-bar, 
.navbar .btn-navbar[disabled] .icon-bar {
    background-color: #000;
    border:none;
    box-shadow:none;
}
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {
    border-radius: 0;
}
.navbar .brand {
    float: right;
}


/* ==========================================================================
   Carousel
   ========================================================================== */
.home_slider {
    background:#F3F3F3;
    text-align:center;
}
.carousel {
    text-align:center;
}
.carousel img {
    width:100%;
}
.carousel-control_left {
    position: absolute;
    top: 45%;
    left:10px;
    width: 17px;
    height: 36px;
    margin-top: 0;
    text-decoration:none;
    background:url(../images/slider_arrow_left.png) top left no-repeat;
}
.carousel-control_right {
    position: absolute;
    top: 45%;
    right:10px;
    width: 17px;
    height: 36px;
    margin-top: 0;
    text-decoration:none;
    background:url(../images/slider_arrow_right.png) top left no-repeat;
}
.carousel-indicators li {
    background:#CECECE;
}
.carousel-indicators .active {
    background:#333333;
}

#hp-images img {
    width:100%;
}
#hp-images > div > div {
    padding-bottom:15px;
}

/* ==========================================================================
   Titles
   ========================================================================== */
h2.title {
    color:#4b4b4b;
    font-size:16px;
    font-family: "ProximaNovaBold","ProximaNovaRegular","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    padding:3px 0;
    border-bottom:3px solid #DF0A1F;
}

/* ==========================================================================
   Sidebar Categories
   ========================================================================== */
.side_navigation_dropdown {
    padding:0;
}
.side_navigation_dropdown {
    padding-bottom:10px;
}
.categories_side_container .side_navigation_dropdown {
    padding: 0 15px 8px 15px;
    margin:0;
}
.categories_side_container .side_navigation_dropdown li,
.side_navigation_dropdown li {
    list-style:none;
}
.categories_side_container .side_navigation_dropdown a,
.side_navigation_dropdown li a {
    color:#4b4b4b;
    display:block;
    padding: 8px 0;
}
.categories_side_container ul.side_navigation_dropdown > li > a {
    font-weight:bold;
}
.side_navigation_dropdown .acctStepNav {
    padding:0 15px;
}
ul.account_steps {
    list-style:none;
    padding:0;
}
ul.account_steps li a {
    color:#FFF;
    display:block;
    padding:8px;
}

/* ==========================================================================
   Sidebar Promo
   ========================================================================== */
.promotion-box-LeftNav,
.promotion-box-RightNav {
    text-align:center;
}
.promotion-box-LeftNav .promotion_side,
.promotion-box-RightNav .promotion_side {
    margin:15px 0
}
.promotion-box-LeftNav .promotion_side img,
.promotion-box-RightNav .promotion_side img {
    width:100%;
}

/* ==========================================================================
   Sidebar Quick Order
   ========================================================================== */
.quick_order {
    padding: 0 15px;
    border-bottom: 1px solid #ccc;
}
.quick_order #skuQtyForm .row {
    margin:0;
}
.quick_order .sku {
    float: left;
    margin: 0 5px 5px 0px;
    padding: 0;
    padding-right: 4px;
    width: 63%;
}
.quick_order .qty {
    float: left;
    margin-left: 5px;
    padding: 0;
    width: 20%;
}
.quick_order .addToCart {
    background:none;
    border:1px solid #FFF;
    color:#000;
}

/* ==========================================================================
   Sidebar Mini Cart
   ========================================================================== */
.mini_cart {
    padding:0 15px;
    border-bottom: 1px solid #ccc;
}
.mini_cart .header .product,
.mini_cart .header .quantity {
    display:inline-block;
}
.mini_cart .header .quantity {
    float:right;
}
.mini_cart .cart_item .productNameLink,
.mini_cart .cart_item  #CartItemDetail-Qty-View {
    display:inline-block;
    width:50%;
    font-weight:bold;
}
.mini_cart .cart_item  #CartItemDetail-Qty-View {
    text-align:right;
}
.mini_cart .cart_item  #CartItemDetail-Qty-View input {
    padding: 8px 5px;
    width:50px;
    margin:0;
}
.mini_cart .summary {
    margin-top:10px;
}
.mini_cart .summary > div,
.mini_cart .summary > p.minitotal {
    display:inline-block;
    width:50%;
}
.mini_cart .summary > div.totalprice,
.mini_cart .summary > p.minitotal {
    float:right;
}
.mini_cart .summary > p.minitotal {
    font-size:16px;
    margin:5px 0;
}
.mini_cart .summary {
    text-align:right;
}
.mini_cart .summary > p .loggedInAction {
    margin:10px 0 0 0;
}


/* ==========================================================================
   Sidebar Filters
   ========================================================================== */
.filters {
    background: #FFF;
    padding: 0 15px;
}
.filters .spec {
    font-family: "ProximaNovaBold","ProximaNovaRegular","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    font-weight:bold;
    text-transform:uppercase;
    padding: 10px 0;
    border-bottom: 1px ridge #ccc;
}
.filters .filter_search {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
}
.filters input.filterSearch {
    padding: 8px;
    margin-bottom:8px;
}
.filters .searchFilter.btn {
    padding:8px;
}
.filters .value {
    font-family: "ProximaNovaRegular","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    font-weight: normal;
    text-transform:none;
}
.filters .filtercount {
    display: inline;
}
.filter_breadcrumb_container_main .breadcrumb,
.filter_breadcrumb_container .breadcrumb {
    display: inline-block;
    margin-bottom: 4px;
}

/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination_container,
.pagination_phone_container {
    padding: 0 10px;
}
.pagination_phone_container {
    text-align: center;
    font-size: 11px;
    color: #808080;
}
.pagination_phone {
    width: 100%;
    padding: 10px 0 10px 0;
    float: left;
    margin: 0 0 10px 0;
    font-size: 14px;
    font-weight: normal;
    color: #525252;
    border: #ABADB0 1px solid;
    background: #FFF;
}
.pagination_row_1 {
    padding: 10px 0;
    border-bottom: 1px solid #e3e3e3;
}
.pagination_row_1 select {
    margin-right:5px;
}
.pagination_phone span {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 14px;
    text-align: center;
    display: inline-block;
}
.pagination_row_1 span.page_links {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 11px;
    text-align: center;
    display: inline-block;
    width: 33%;
}
.pagination_row_1 span.right_align {
    margin: 0;
    padding: 0;
    font-size: 11px;
    text-align: right;
    display: inline-block;
    width: 33%;
}
.pagination_row_1 p {
    margin: 3px 0 0 0;
    padding: 0;
    font-size: 11px;
    display: inline;
    width: 33%;
    float: left;
}
.pagination_row_2 {
    font-size: 11px;
    padding: 10px 0;
    margin-bottom:10px;
    border-bottom: 1px solid #ccc;
}

/* ==========================================================================
   Page Headers
   ========================================================================== */
.main_page_title {
   height:75px;
   background-color: #EBEBEB;
}
.main_page_title.products {
   background: url(../images/product_list_header.png) no-repeat 0 0;
}
.main_page_title.productdetails {
   background: url(../images/product_detail_header.png) no-repeat 0 0;
}
.main_page_title.cart {
   background: url(../images/shopping_cart_header.png) no-repeat 0 0;
}
.main_page_title.MyAccount {
   background: url(../images/my_account_header.png) no-repeat 0 0;
}
.main_page_title.products.es {
    background: url(../images/product_list_header_es.png) #f2f2f2 no-repeat 0 0;
}
.main_page_title.productdetails.es {
    background: url(../images/product_detail_header_es.png) #f2f2f2 no-repeat 0 0;
}
.main_page_title.cart.es {
    background: url(../images/shopping_cart_header_es.png) #f2f2f2 no-repeat 0 0;
    height: 75px;
}
.main_page_title.InfoView {
   background: url(../images/your_information_header.jpg) no-repeat 0 0;
}
.main_page_title.PaymentView {
   background: url(../images/shipping_payment_header.jpg) no-repeat 0 0;
}
.main_page_title.OrderReview {
   background: url(../images/order_review_header.jpg) no-repeat 0 0;
}
.main_page_title.OrderComplete {
   background: url(../images/order_confirmation_header.png) no-repeat 0 0;
   background-size: 100%;
}
.main_page_title.InfoView {
    background: url(../images/your_information_header.jpg) #f2f2f2 no-repeat 0 0;
}
.main_page_title.PaymentView {
    background: url(../images/shipping_payment_header.jpg) #f2f2f2 no-repeat 0 0;
}
.main_page_title.OrderReview {
    background: url(../images/order_review_header.jpg) #f2f2f2 no-repeat 0 0;
}
.main_page_title.OrderComplete {
    background: url(../images/order_confirmation_header.png) #f2f2f2 no-repeat 0 0;
    background-size: 100%;
}

/* ==========================================================================
   Breadcrumbs
   ========================================================================== */
.breadcrumb_phone, 
.breadcrumbs {
    background: #F3F3F3;
    color: #000;
    padding: 8px 15px;
    display:block;
}
.breadcrumb_phone a,
.breadcrumbs a {
    color: #000;
}

/* ==========================================================================
   Spotlight & Featured Products
   ========================================================================== */
.quickwishdesk {
    padding:0 15px;
}
#deskQuickWishForm .addItem {
    display:inline-block;
    width:auto;
    float:right;
}
#deskQuickWishForm .addItem.topAddItemButton   {
    display:none;
}
#deskQuickWishForm p.leftside {
    margin:0;
}
.quickWishlist_container #dropQuickWish {
    width:auto;
}
.quickWishlist_container  .btn-primary .caret {
    border-top-color: #DF0A1F ;
    border-bottom-color: #DF0A1F ;
}
.quick_wishlist_item {
    width:100%;
    display:inline-block;
}
.quick_wishlist_item.highlight {
    background:#ccc;
}
.quick_wishlist_item .cart_item_viewport {
    width:25%;
    float:left;
    padding:0 15px 0 0;
}
.quick_wishlist_item .leftside {
    width:25%;
    float:left;
}
.quick_wishlist_item .rightside,
.quick_wishlist_item .priceSubscription  {
    width: 45%;
    float:right;
    text-align:right;
}
.quick_wishlist_item .rightside p,
.quick_wishlist_item .rightside .price {
    display:block;
}
.quick_wishlist_item .rightside .price {
    font-weight:bold;
}

/* ==========================================================================
   Spotlight & Featured Products
   ========================================================================== */
.product_spotlight_item, .featured_products_item0, 
.featured_products_item1, 
.products_1_row_medium_item,
.quick_wishlist_item  {
    display:inline-block;
    width:100%;
    margin:0;
    border-bottom:1px solid #ccc;
    margin-bottom:10px;
}
.product_spotlight_item:last-child, .featured_products_item0:last-child, 
.featured_products_item1:last-child, 
.products_1_row_medium_item:last-child,
..quick_wishlist_item:last-child {
    border-bottom:none;
}
.product_spotlight .product_spotlight_item .product_spotlight_viewport,
.featured_products .featured_products_viewport,
.products_1_row_medium_item .product_listing_viewport,
.product_detail_viewport,
.quick_wishlist_item .cart_item_viewport {
    width:25%;
    display:inline-block;
    float:left;
    padding:0 15px 15px 0;
}
.product_spotlight .product_spotlight_item .product_spotlight_viewport a,
.featured_products .featured_products_viewport a,
.products_1_row_medium_item .product_listing_viewport a {
    display: block;
}
.product_spotlight .product_spotlight_item .product_spotlight_viewport img,
.featured_products .featured_products_viewport img,
.products_1_row_medium_item .product_listing_viewport img {
    max-height:200px;
}
.product_spotlight .product_spotlight_item p,
.featured_products p,
.products_1_row_medium_item p.skuDisp {
    font-size:11px;
    margin:0;
}
.product_spotlight .product_spotlight_item a,
.featured_products a,
.products_1_row_medium_item a.productName {
    font-family: "ProximaNovaBold","ProximaNovaRegular","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    font-weight:bold;
}
.product_spotlight .product_spotlight_item a,
.product_spotlight .product_spotlight_item p.price,
.featured_products a, 
.featured_products p.price,
.products_1_row_medium_item a,
.products_1_row_medium_item p.price {
    font-size:14px;
}
.products_1_row_medium_item p,
.product_spotlight .product_spotlight_item .description,
.product_spotlight .product_spotlight_item p.price {
    margin:8px 0;
}
.products_1_row_medium_item  button.add_to_cart_desktop_button {
    display:inline-block;
    width:auto;
    float:right;
}
.rankDisplayWrapper {
    display:none;
}
.product_detail_viewport img.alternate {
    display:inline-block;
    width: 30%;
    margin-top:3px;
    cursor: pointer;
}

/* ==========================================================================
   Product List Page
   ========================================================================== */
.sub_categories {
    display:inline-block;
    width:100%;
}
.prodCatContainer .sub_categories .categories_1_row_medium_item {
    width:25%;
    float:left;
    display:inline-block;
    padding:15px;
    text-align:center;
} 
.prodCatContainer .sub_categories .categories_1_row_medium_item .subcategory_name p {
    margin:0;
}

/* ==========================================================================
   Product Detail
   ========================================================================== */
.product_detail {
    padding:0 15px;
}
.product_title {
        font-family: "ProximaNovaBold","ProximaNovaRegular","Open Sans","Gill Sans MT","Gill Sans",Corbel,Arial,sans-serif;
    font-weight: bold;
}
.product_detail .shortDesc {
   padding: 8px 0
}
#avgRating {
   display: none;
}
.product_detail .sku {
   font-size: 11px;
}
.product_detail .sku .value, 
.product_detail .price .value {
   display: inline;
}
.product_detail .price .value {
   font-size: 16px;
}
.product_detail .addItem {
    display:inline-block;
    width:auto;
    float:right;
}
.tabSection .accordion-group {
    border: 1px solid #ccc;
    border-radius: 0;
}
.tabSection .accordion-group a {
    color:#000;
}
.price_block .value {
    display:inline-block;
    padding:5px 0;
    font-size:11px;
}
.product_detail p .price {
    font-size:16px;
}
.product_detail_container  .subscriptionSelectionDiv {
    display: block;
}
.product_type_assembly .quick_wishlist_item {
    border-bottom: 1px solid #e3e3e3;
    padding:10px;
}
.product_type_assembly .quick_wishlist_item .price {
    display:block;
    font-weight:bold;
}
.nvGroupRow > div {
    display:block;
    padding:5px;
    background:#eee;
    border-bottom:1px solid #000;
}
.nvGroupRow > .groupName {
    font-weight:bold;
    font-size:16px;
}
.nvGroupRow .name {
    font-weight:bold;
}
.nvGroupRow > div > div {
    display:inline-block;
    width:110px;

}

/* ==========================================================================
   Shopping Cart
   ========================================================================== */
#cart_items_container {
    padding:0 15px;
    margin-bottom:15px;
}
.cart_item {
    border-bottom: 1px solid #e3e3e3;
    padding: 10px 0;
    display:inline-block;
    width:100%;
}
.cart_item p {
    margin: 10px 0;
    font-size: 13px;
}
.reviewCartSection .cart_item .price {
    float:right;
}
.payment .storedPaymentContainer {
    margin:10px 0;
}
.cart_item_list .wishFinder {
    margin-top:10px;
    display:inline-block;
    width:100%;
}
.cart_item_list .deleteItem.removeItemButton {
    float:right;
}
.included_items_responsive {
    margin: 0 0 0 82px;
    clear: left;
}
.cart_item p.item_title a:link {
    font-size: 16px;
    color: #000;
}
.cart_item p.price {
    font-size: 16px;
    margin: 0 0 5px 0;
    clear: both;
    line-height: 23px;
    color:#000;
}
.cart_item p.price span {
    font-size: 14px;
    margin: 0;
    color: #F00;
}
.cart_item .quantity {
    margin: 0;
    font-size: 14px;
    color: #027BC2;
    float: right;
}
.cart_item .quantity span {
    padding: 0;
    line-height: 23px;
}
.cart_item .quantity input.remove {
    width: 16px;
    margin: 1px 0 0 5px;
    text-align: center;
    padding: 2px;
}
.cart_item_viewport {
    float: left;
    padding: 0 10px 10px 0;
}
.cart_item_viewport img {
    max-height: 100px;
}
ul.shopping_cart {
    margin: 0 0 10px 0;
    padding: 0;
    float: right!important;
}
ul.shopping_cartTODO {
    margin: 0 0 10px 0;
    padding: 0;
}
ul.shopping_cart li,
ul.shopping_cartTODO li {
    margin: 0 0 0 5px;
    padding: 0;
    display: inline;
    list-style: none;
    float: left;
}
ul.checkout li {
    float: right;
    list-style: none;
    clear: both;
    margin: 0 0 10px 0;
    font-size: 15px;
    line-height: 18px;
    font-weight: normal;
}
ul.checkout li.grand_total {
    float: right;
    list-style: none;
    clear: both;
    margin: 0 0 10px 0;
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
}
ul.checkout button.checkOutBtn {
    font-size: 22px;
    padding:10px 15px;
    background:#FFF;
    border: 2px solid #DF0A1F
    color: #DF0A1F
}
.discount_code_container {
    display:inline-block;
}
.discount_code_container .discount_code {
    padding:0 15px;
}
.commentField {
    width: 100%;
    height: 55px;
}
.cart_figures {
   clear:both;
   padding:0 15px 10px 5px;
}

.cart_figures .section1 {
   width:33%;
   text-align:left;
   float:left;
}

.cart_figures .section2 {
   width:33%;
   text-align:center;
   float:left;
}

.cart_figures .section3 {
   width:34%;
   text-align:right;
   float:left;
}

.cart_figures .section123 {
   width:100%;
   text-align:left;
   float:left;
   padding:5px 0 5px 0;
   border-top:1px solid #ccc;
   border-bottom: 1px dashed #ccc;
   margin:5px 0 5px 0;
}

.cart_item .sectionWide {
   width:75%;
   text-align:left;
   float:left;
   padding:5px 0 5px 0;
   margin:5px 0 5px 0;
}


.cart_figures .section1 strong,
.cart_figures .section2 strong,
.cart_figures .section3 strong {
   font-size:13px;
   font-weight:bold;
}

.cart_figures .section3 strong.price {
   font-size:15px;
   font-weight:bold;
}

.modal-body .cart_figures .section3 strong.price {
   font-size:12px;
   font-weight:bold;
}

.cart_figures input.cart_items {
    border: 1px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    font-size: 12px;
    margin:0 3px 0 3px;
    padding: 5px;
    text-align: center;
    width: 35%;
}

.cart_figures input.remove {
    border-radius: 4px 4px 4px 4px;
    clear: both;
    font-size: 10px;
    font-weight: normal;
    padding: 5px;
    text-align: center;
    text-indent: 0;
    width: 90%;
   margin-top:10px;
}

.cart_figures input.plus_minus {
   width:17%;
   border-radius:4px;
   font-size:12px;
   padding:2px;
   margin:0;
}
.cart_sort {
    clear: both;
    border-bottom: 1px solid #e3e3e3;
    max-width: 60%;
}
.cart_sort_text {
    display: inline-block;
    padding: 7px;
    min-width: 20%;
}
a.cart_sort_item {
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

/* ==========================================================================
   My Account
   ========================================================================== */
.main_content_large_left_container legend,
.main_content_large_right_container legend {
    padding: 10px;
    margin: 0 0 10px 0;
    background: #EBEBEB;
    text-transform: uppercase;
    font-weight:bold;
}
.my_account_information .row {
    float: left;
    margin: 0 0 10px 0;
    clear: both;
    width: 100%;
}
.my_account_information label {
    float: left;
    width: 150px;
    font-size: 14px;
    font-weight: normal;
    color: #000;
    margin: 0;
}
.my_account_information .row {
    float: left;
    margin: 0 0 10px 0;
    clear: both;
    width: 100%;
}
.my_account_information .half {
    width: 50%;
    float: left;
    margin: 20px 0 0 0;
}
.my_account_information .half label {
    float: left;
    font-size: 14px;
    font-weight: normal;
    margin: 0 15px 0 0;
    width: 95%;
}
.checkout_detail_item .accordion-group {
    border-radius:0;
}
.checkout_detail_item .accordion-group a {
    color:#000;
    font-weight:bold;
}
a.edit_information:link {
    font-size: 11px;
    font-weight: normal;
    padding-left: 11px;
    text-decoration: none;
    text-indent: 6px;
}
a.edit_information:visited {
    font-size: 14px;
    text-indent: 6px;
}
table.shopping_cart {
    margin: 0 0 20px 0px;
    float: left;
    border-left: #525252 solid 1px;
    border-top: #525252 solid 1px;
    width: 100%;
}
table.shopping_cart tr.even {
    background: #f1f1f1;
}
table.shopping_cart td {
    padding: 5px 5px 0 5px;
    vertical-align: top;
    border-right: #525252 solid 1px;
    border-bottom: #525252 solid 1px;
    border-collapse: collapse;
    font-size: 12px;
    line-height: 18px;
    font-weight: normal;
    color: #525252;
}
table.shopping_cart tr.grey {
    background: #f1f1f1;
}
table.shopping_cart a:link {
    color: #3185C0;
    font-size: 13px;
    line-height: 18px;
    font-weight: normal;
    color: #027BC2;
    text-decoration: none;
}
table.shopping_cart a.payFullLink{
    color:#FFF;
    display:inline-block;
}
.actionButtonsStart {
    padding:10px 0;
}
.invoiceHeaderCol .invoiceField {
    display:inline-block;
    padding:10px;
    vertical-align:top;
}
.actionButtonsEnd a {
    display:inline-block;
}
.invoiceContainer {
    padding:15px;
}
.invoiceRow a.payFullLink {
    color:#DF0A1F!important;
}
.subscriptionContainer .subscriptionImage {
    width:25%;
    display:inline-block;
    float:left;
}
.subscriptionField  .headerLabel {
    font-weight:bold;
}

/* ==========================================================================
   Checkout
   ========================================================================== */
.margin_form, .horizontal_form {
    margin: 20px auto 0 auto;
    width: 77%;
}
.horizontal_form fieldset,
.margin_form fieldset {
    display: block;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    border: 1px solid #ccc;
    overflow: hidden;
}
.horizontal_form label,
.margin_form label {
    display: block;
    float: left;
    font-weight: normal;
    margin-bottom: 0;
    margin-left: 10px;
    margin-right: 1em;
    margin-top: 1em;
    font-size: 15px;
}
.horizontal_form legend,
.margin_form legend {
    font-weight: normal;
    color: #000;
    background-color: #EBEBEB;
    padding: 10px;
    font-size: 15px;
    text-transform: uppercase;
}
.change_address,
.copyAddress {
    display:block;
    text-align:right;
    margin: 0 34px 0 0;
}
a.copyAddress {
    margin-bottom:10px;
    cursor:pointer;
}
.horizontal_form select {
    display: block;
    width: 200px;
    height: 22px;
    margin: 5px 0 0 0;
}
.horizontal_form select.wide {
    display: block;
    width: 320px;
    height: 22px;
    margin: 5px 0 0 0;
}
.horizontal_form input {
    display: block;
    width: 300px;
    margin: 5px 0 0 0;
    padding: 10px;
}
.horizontal_form input.wide {
    display: block;
    width: 320px;
    margin: 5px 0 0 0;
}
.horizontal_form input.addresswide {
    display: block;
    width: 665px;
    margin: 5px 0 7px 0;
}
.margin_form p {
    margin: 0 0 10px 0;
    font-size: 11px;
    line-height: 18px;
}
.margin_form p.link_button {
    text-align: right;
}
.margin_form p.larger {
    margin: 10px 0 10px 0;
    font-size: 14px;
    line-height: 18px;
}
.shipping_payment {
    margin: 15px 0 0 0;
    padding: 0;
    font-size: 14px;
}
.shipping_payment .half {
    width: 50%;
    float: left;
    margin-bottom: 10px;
}
.shipping_payment .half label {
    float: left;
    width: 135px;
    font-size: 14px;
    font-weight: normal;
    clear: both;
    text-align: right;
    margin: 0 15px 0 0;
}
.shipping_payment .row {
    float: left;
    margin: 0 0 15px 0;
    clear: both;
    width: 100%;
}
.shipping_payment .row_margin_top_single {
    float: left;
    margin: 35px 0 15px 0;
    clear: both;
    width: 100%;
}
.shipping_payment .row_margin_top_double {
    float: left;
    margin: 76px 0 15px 0;
    clear: both;
    width: 100%;
}
.shipping_payment label {
    float: left;
    width: 200px;
    font-size: 14px;
    font-weight: normal;
    clear: both;
    margin:0;
}
.shipping_payment label.shorter {
    float: left;
    width: 140px;
    font-size: 14px;
    font-weight: normal;
    clear: both;
}
.shipping_payment input {
    width: 180px;
}
.shipping_payment select {
    height: 22px;
}
.shipping_payment textarea {
    width: 400px;
    height: 150px;
    font-size: 12px;
}
.shipping_payment .boxes {
    display: inline;
    width: 1em;
}
.shipping_payment span {
    margin: 0 10px 0 0;
}
.shipping_payment input.po[type=text] {
    width: 400px;
}
.shipping_payment input.smaller[type=text] {
    width: 50px;
}
.shipping_payment input.address[type=text],
.shipping_payment select.state_country {
    width: 205px;
}
.deliveryDateMessages .dynamic_page_message {
    font-size: 100%;
}
ul.order_review {
    margin: 15px 0 0 0;
    padding: 0;
    width: 100%;
}
ul.order_review li {
    margin: 0;
    padding: 0;
    width: 33%;
    float: left;
    list-style: none;
}
ul.order_review li p {
    font-size: 12px;
    font-weight: normal;
    min-height: 75px;
    margin: 0 0 10px 0;
}
.total {
    width: 100%;
    text-align: right;
}
.total p {
    font-size: 13px;
    font-weight: normal;
    line-height: 18px;
    margin: 0 0 5px;
    padding: 0;
}
.total p strong {
    font-size: 15px;
    font-weight: bold;
}
ul.checkout_steps {
    float: left;
    width: 100%;
    padding: 8px 0 8px 2px;
    margin: 0;
}
ul.checkout_steps a {
    color:#000;
    font-weight:bold;
}
ul.checkout_steps li {
    float: left;
    width: 25%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 13px;
}

ul.checkout_steps li.current {
    float: left;
    width: 25%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    line-height: 13px;
    color: #FFBA13;
    font-weight: normal;
}
.orderContainer .cart_item .price {
    display:inline-block;
    float:right;
}
.payment_po_information .row {
    margin:0;
}
.storedPaymentsContainer .useStoredPayment {
    display:inline-block;
    width:auto;
}
.payment_po_information .row .poLabel  {
    display:inline-block;
    width:120px;
}

/* ==========================================================================
   Featured Products Section
   ========================================================================== */
.featured-prod {
   padding: 10px 0px 0 0px;
   width: 100%;
   margin: 0 0 10px 0;
   float: left;
   background: #FFFFFF;
}

/* ==========================================================================
   Dynamic Kit
   ========================================================================== */
.dynamicKitSection .item_container div,
.dynamicKitSelSection .item_container div {
    display: inline-block;
    padding: 5px;
}

.dynamicKitSection .item_container div.img {
    width: 10%;
}

.dynamicKitSection .item_container div.name,
.dynamicKitSelSection .item_container div.name {
    width: 40%;
}

.dynamicKitSection .item_container div.name a {
    font-size: 13px;
}

.dynamicKitSection .item_container div.price {
    font-weight: bold;
}

.dynamicKitSection .item_container div.qty input,
.dynamicKitSelSection .item_container div.qty input {
    width: 25px;
    text-align: center
}

.dynamicKitSection .tab-pane {
    height: 175px;
    overflow: scrolling;
}

.dynamicKitSelSection .configName {
    margin-left: 5px;
    padding:8px;
}
.dynamicKitSelSection .addToCart {
    margin:0;
}
.dynamicKitSelSection h2.title {
    background:#eee;
    padding:5px 15px;
    color:#000;
    vertical-align:middle;
}

.item_container.heading {
    font-weight: bold;
    border-bottom: 1px grey solid;
}
.item_container.heading > div {
    margin-right:17px;
    /* float: right; */
}

.dynamicKitSection .flow .kitGroup {
    font-weight: bold;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.dynamicKitSection .flow .item_container {
    display: inline-block;
    padding: 5px;
    width: 200px;
    text-align: center;
    margin: 4px;
}

.dynamicKitSection .flow .item_container .info {
    background: #eee;
    border: 1px #e3e3e3 solid;
    border-radius: 4px;
}

.dynamicKitSection .flow .item_container div {
    display: block;
}

.dynamicKitSection .flow .item_container div.img {
    width: 100%;
}

.dynamicKitSection .flow img {
    max-height: 100px;
}

.dynamicKitSection .flow .item_container div.name {
    width: 100%;
}
.widget_column {
    padding: 0;
    margin: 0 0 10px 0;
    float: left;
    background: #FFFFFF;
    width: 100%;
    overflow: hidden;
}
.dynamicKitSection {
    display:inline-block;
}
.tabSection {
    display:inline-block;
    width:100%;
}
.nav-tabs > li > a {
    color: #4b4b4b ;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover, .nav-tabs > .active > a:focus {
    color: #000;
    font-weight:bold;
    background-color: #ffffff;
    border:none;
    border-bottom: 2px solid #DF0A1F;
    cursor: default;
}

/* ==========================================================================
   Product Grid
   ========================================================================== */
#reformatGrid {
   margin-bottom:20px; 
}
.widget_column_for_grid {
    overflow: auto;
}
.productDisplayGrid {
    min-width: 575px;
}
.productGridHeaderItem {
    margin-right: 20px;
    text-align: center;
    font-weight: bold;
    width: 180px;
}
.productGridHeaderItem span {
    font-weight: bold;
    font-size: 14px;
}
.productGridHeaderItem img {
    display: block;
    margin: 0 auto;
}
.productGridHeaderItem {
    display: inline-block
}
.productGridRowHeader,
.productGridItem {
    display: inline-block;
    vertical-align: middle;
    padding: 5px 0;
    /* text-align: center; */
}
.productGridRowHeader {
    width: 75px;
    font-size: 14px;
    font-weight: bold;
}
.productGridRow {
    border-bottom:1px solid #ccc;
}
.productGridItem {
    width: 180px;
    text-align: right;
    margin-right:20px;
}
.adidas-checkbox {
    display: none;
}
.productGridHeader {
    padding-left: 75px;
    margin-bottom: 10px
}
.productGridItem input[type=text] {
    padding: 7px;
    width: 25px;
    margin: 5px 5px 5px 0;
}
.productGridItem span {
    font-weight: bold;
    color:#808080;
    padding-right:20px;
}
#multiplier {
    padding: 8px;
    text-align:center;
}
.invoiceHeaderCol .invoiceField {
    display:inline-block;
    padding:10px;
    vertical-align:top;
}
#multiply-slider {
    width:200px;
    margin:10px 15px 0 15px;
    display:block;
}
.widget_column_for_grid .widget_container ul > li:first-child {
    margin-top:10px;
    color:#808080;
    font-weight:bold;
}
.widget_column_for_grid .widget_container ul > li:last-child .btn{
    background:#FFF;
    color:#000;
    border:none;
}


/* ==========================================================================
   Footer
   ========================================================================== */
.CCDemo_SiteFooter {
    background:#d3d1ce ;
    padding:25px 50px;
    text-align:center;
}
.CCDemo_SiteFooter {
    padding:15px 0;
    display:inline-block;
    width:100%;   
}
.CCDemo_SiteFooter a {
    padding:0 10px;
    color:#666666;
}

/* ==========================================================================
   Page Load
   ========================================================================== */
.loadingContainer, .loadingOverlay, .circleContainer, #overlay {
    display: none !important;
}

/* ==========================================================================
   Media Queries
   ========================================================================== */
@media (max-width: 850px){
    .horizontal_form input.addresswide {
        width: 320px;
    }
}
@media (max-width: 584px){
  .navbar .btn-navbar .icon-bar {
    background: #FFF;
  }
   .navbar-inner {
      background: #DF0A1F;
      border-radius:0;
      box-shadow:none;
      border:none;
   }
   .nav-collapse .nav > li > a, 
   .nav-collapse .dropdown-menu a {
        color: #FFF;
    }
   .top_navigation .search_button, input#doSearch {
        margin-left: 0;
        margin-top: -12px;
        width: 35px;
        height: 35px;
    }
    .tcccincfooter ,
    .footer.footerPhone {
        padding:10px;
        text-align:center;
    }
}